@import url("bootstrap-combined.min.less");
@import url("jquery-ui.min.less");
@import url("jquery-ui-timepicker-addon.less");
@import url("magicsuggest-1.3.1.less");
@import url("croppic.less");


body{ font-family: 'Open Sans', sans-serif; background-color: black;  background: url("/packages/bpez/infuse/images/infuseBackgroundNew.jpg") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; padding: 0 !important; }
body.infuseWrapper{ background-color: #FFFFFF; background-image: none !important;  }
body.infuseWrapper input[type="text"], body.infuseWrapper input[type="password"],{ -webkit-appearance: none; }

.infuseScaffold .actionFixedNav{ position: fixed; bottom: 0px; left: 0px; width: 100%; height: 39px; background-color: #E4E4E4; font-size: 0px;  z-index: 200; }
.infuseScaffold .actionFixedNav input[type="submit"]{ text-transform: uppercase;  height: 39px; padding: 0px 40px; color: white; font-size: 12px;
	border: 0px; background-color: #A01A27; font-family: 'Open Sans', sans-serif; margin-left: 1px; }
.infuseScaffold .actionFixedNav .submitGroup{ position: absolute; bottom: 0px; right: 0px; }

.infuseScaffold .actionFixedNav a{ text-transform: uppercase; display: inline-block; vertical-align: middle; height: 30px; padding: 9px 40px 0px 40px; color: black; font-size: 12px; 
	background-color: #CBCBCB;  margin-right: 1px;  text-decoration: none; }
.infuseScaffold .actionFixedNav a:hover{ background-color: #C0C0C0;}

.container{ margin-bottom: 100px; }
.infuseInner{  width: 1024px; margin: 0px auto; }

.infuseScaffold .table{ background-color: white; }
.infuseScaffold input, .infuseScaffold textarea{ width: 60%; }
.infuseScaffold input[type="submit"]{ width: auto; font-family: 'Open Sans', sans-serif; }
.infuseScaffold{ font-size: 12px; }
.infuseScaffold textarea{ min-height: 80px; }

.infuseScaffold .label, .infuseScaffold .badge{ font-weight: normal; margin: 2px 0px 0px 0px;  }
.infuseScaffold input[type="file"], .infuseScaffold input[type="checkbox"]{ height: auto !important; line-height: 15px !important; }
.infuseScaffold input[type="checkbox"]{ width: auto !important; font-size: 12px;  }
.infuseScaffold label.checkbox{ font-size: 12px;  }
.introLanding, .infuseScaffold { margin-top: 50px; }

.infuseBlue{ color: #0088cc !important; }
.infuseWrapper .modal-body{ max-height: none; }

.infuseWrapper h1{ font-size: 25px; font-weight: 300; position: relative; letter-spacing: 2px; }
.infuseWrapper small{ font-size: 16px; position: absolute; top: 10px; letter-spacing: 2px; right: 0px;  color: #999999; font-weight: 300;  }


/* Login and password reset pages */

.infuseLogin{ width: 420px; height: 387px; background-color: transparent; margin: 150px auto 0px; box-sizing: Border-box; }
.infuseLogin .logo{ display: block; margin: 0px auto 20px; max-width: 50%; }
.infuseLogin .infuseU, .infuseLogin .infuseP{ font-size: 13px; color: #FFFFFF; font-weight: 300; background-color: transparent; border: none; font-family: 'Open Sans', sans-serif, sans-serif; width: 299px; height: 54px; box-sizing: Border-box; padding: 12px 12px 12px 12px; background-repeat: repeat; }
.infuseLogin .infuseU{ background-image: url("/packages/bpez/infuse/images/transparent40Percent.png");}
.infuseLogin .infuseP{ background-image: url("/packages/bpez/infuse/images/transparent40Percent.png");}
input.infuseLoginSubmit{ background-color: #A01A27; margin: 0px auto; display: block; font-weight: 300; color: white; vertical-align: top; border: none; width: 35px; height: 35px; padding-bottom: 5px; font-family: 'Open Sans', sans-serif; font-size: 13px; 
-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; /* future proofing */ -khtml-border-radius: 20px; /* for old Konqueror browsers */ }
.infuseLogin .infuseTextLogoAbove{ font-size: 13px; font-weight: 300; color: #CBCECD; text-transform: uppercase; text-align: center; line-height: 120%;  letter-spacing: 3px;  }
.infuseLogin .infuseTextLogo{ font-size: 70px; font-weight: 300; color: #CBCECD; text-transform: uppercase; text-align: center; line-height: 100%;   }
.infuseLogin .infuseSiteTitle{ margin-top: 15px; font-size: 13px; font-weight: 300; color: #CBCECD; text-transform: uppercase; text-align: center; line-height: 140%;  letter-spacing: 3px;  }
.infuseLogin form{ margin-top: 15px; }
.infuseLogin p{ text-align: center; color: white; font-size: 14px; opacity: 0.5;  }
.infuseLogin p.errorMessage{ margin-top: 10px; opacity: 1.0; font-weight: 500;  color: #A01A27; }
.infuseLogin p.successMessage{ margin-top: 10px; opacity: 1.0; font-weight: 500;  color: #009933; }
.infuseLogin .errorInput{ border: 1px solid #A01A27; }

/* Nav  */
.infuseNav{ height: 84px; background-color: #333333; border-bottom: 5px solid black;  }
.infuseNav .navElement{ height: 84px; width: 143px; margin: 0px 1px 0px 1px; display: inline-block; vertical-align: top; }
.infuseNav .navElement.navElementCenter{  width: auto; padding: 0px 15px; }
.navElementCenter .logo{ max-width: 34%;  }
.infuseNav .infuseTextLogo{ font-size: 60px; margin-top: 13px; font-weight: 300; color: white; text-transform: uppercase; text-align: center; line-height: 100%;  }
.infuseNav .innerNav{ font-size: 0px;  width: 1024px; margin: 0px auto; text-align: center; position: relative; }
.infuseNav .navElement a{  width: 100%; height: 100%; display: inline-block; text-transform: uppercase; letter-spacing: 2px; text-align: center; font-family: 'Open Sans', sans-serif; font-size: 13px; font-weight: 300; color:  white;  }
.infuseNav .navElement a span{ letter-spacing: 3px; margin-top: 33px; display: inline-block; }
.infuseNav .navElement a.active{ border-bottom: 5px solid #990000; }
.infuseNav .navElement a:hover{ border-bottom: 5px solid #990000; }
.infuseNav .siteLink{ position: absolute; right: 0px; top: 32%; text-decoration: none; background-color: #A01A27; margin: 0px auto; display: block; font-weight: 300; color: white; vertical-align: top; border: none; width: 32px; height: 27px; padding-top: 3px; font-family: 'Open Sans', sans-serif; font-size: 13px; 
-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; /* future proofing */ -khtml-border-radius: 20px; /* for old Konqueror browsers */ }


/* slide out menu */
.infuseSideMenu{ border-radius: 0px; position: absolute; top: 89px; left: -360px; z-index: 100; width: 360px;  height: 100%; background-color: #FFFFFF; border-right: 1px solid #F8F8F8;  }
.nav-header{ color: #3AACE2; font-size: 14px; text-shadow: none !important; font-weight: 400; text-indent: 15px;  }
.nav-list a{ color: black;  font-size: 13px; text-shadow: none !important; font-weight: 400; text-indent: 15px; }
.infuseSideMenu .accordion-heading .accordion-toggle{ padding: 22px 15px; text-decoration: none !important;  margin-bottom: 1px; color: #0093CF; font-weight: 300; }
.infuseSideMenu .accordion-heading{ font-size: 18px; text-indent: 15px; }
.infuseSideMenu .accordion-group:first-child{ border-top: 0px;  margin-top: 0px;}
.infuseSideMenu .accordion-group{ border-radius: 0px; border: 0px; border-bottom: 1px solid #F8F8F8;  border-top: 1px solid #F8F8F8; margin-top: -3px; }
.infuseSideMenu .nav>li>a:hover, .infuseSideMenu .nav>li>a:focus{ background-color: transparent; }
.infuseSideMenu .divider{ display: none;  }
.infuseSideMenu .nav-list a{ padding: 6px 0px; font-size: 13px; text-transform: uppercase; font-weight: 300; }
.infuseSideMenu .accordion-inner{ background-color: #E4E4E4; padding: 19px 15px; border-top: 0px;  }
.infuseSideMenu .nav-list a:hover, .infuseSideMenu .nav-list a:focus{ color: inherit;}
.infuseSideMenu .nav-list a{ color: #000000; }

/* buttons */
.infuseTopButtonGroup{ margin-bottom: 15px; }
.infuseTopButtonGroup .btn, .infuseWrapper .hero-unit .btn{ letter-spacing: 2px; font-weight: 300; font-size: 13px; text-transform: uppercase; color: white;   background-image: none; border-color: transparent; padding: 9px 30px; margin-bottom: 0; text-shadow: none; }
.infuseTopButtonGroup .btn.mainColor, .infuseWrapper .hero-unit .btn.mainColor{ background-color: #A01A27; }
.infuseTopButtonGroup .btn.altColor{ background-color: #33352E; }
.infuseWrapper .submitButton{ padding: 6px 18px; background-color: #A01A27; font-weight: 300; color: white; letter-spacing: 1px;  font-size: 12px; text-transform: uppercase; background-image: none; border-color: transparent; text-shadow: none; }



.filtersContainer{ display: none; }
.filtersContainer form{ margin: 0px; }
.filtersContainer .ms-ctn{ display: inline-block; vertical-align: middle; margin: 5px 0px 5px 5px; height: 30px !important;   }
.filtersContainer .ms-sel-ctn{ height: 30px !important;  }
.appendFilters{ display: inline-block; vertical-align: middle; max-width: 1023px; }

.ms-sel-ctn .ms-sel-item{ background-color: #f5f5f5; color: black; }
.page-header .hero-unit{ margin-top: 50px; }

.previewImage{ width: 100%; text-align: center; vertical-align: middle; }
.previewImage img{ max-width: 100%; }



.superAdminMenu{ position: fixed; bottom: 5px; left: 10px; z-index: 100; }
.manyToManyAssociations .checkbox{ /*white-space: nowrap;*/  text-align: left; vertical-align: middle; }
.manyToManyAssociations .checkbox input[type="checkbox"]{  float: none; margin-left: 0px;  width: auto !important; vertical-align: middle;  }
.manyToManyAssociations .checkbox.inline+.checkbox.inline{ margin-left: 0px; }

/* import modal */
.importedUpdatedFlag{ width: 100%; height: 100%; }
.importModal{ width: 80%; margin-left: -40%; }
.importModal .loading{ display: none; margin: 15px auto; width: 32px; height: 32px; }
.importModal .loading img{ width: 100%; }
.importModalAccordion{ display: none; }
.addedRow{ cursor: pointer;  }
.addedRow .iconImportAccordion{ margin-right: 10px; }
.importModal{ height: 80%; max-height: 80%; }
.infuseWrapper .importModal .modal-body{ overflow-y: auto; }
.infuseWrapper .importModal .modal-footer{ position: relative; }
.infuseWrapper .importModal .modal-footer .loadMoreResults{ display: none; position: absolute; top: 50%; right:50%; margin-top: -8px;  margin-right: -61px; }
.infuseWrapper .importModal .modal-footer .pagination{ margin: 0px;}
.importModal .distance{ width: 20px !important; }

.importModal .searchInput{ padding: 10px 10px; vertical-align: top; display: inline-block; width: 380px; margin-bottom: 0px; margin-right: 10px; } 
.importModal .searchBox{ display: inline-block; }
.importModal .searchBox{ font-size: 0px; background-color: #DDDDDD; padding: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; /* future proofing */ -khtml-border-radius: 10px; /* for old Konqueror browsers */ }
.importModal .searchBox form{ margin: 0px; }

.uploadAreaPreviewImage{ overflow: auto; max-height: 400px; }
.previewModal .modal-body{ text-align: center; }
.originalBtnGroup{ margin-bottom: 5px; }
.callFunctionsGroup{ margin-left: 0px !important; }

/* croppic */
.imagePreviewCrop{ display: none; max-width:500px;  max-height:200px; width:500px; height:30px; position:relative; margin: 20px 0px; }
.imagePreviewCrop .croppedImg{ max-width: 100% !important; max-height: 100% !important;}
#croppicModalObj img{ max-width: none; }

/*
#AA4FAA #3AACE2
font-family: 'Open Sans', sans-serif;

	*/

/* iPad 3 & 4 Media Queries */

/* Retina iPad in portrait & landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) {

	.infuseInner{ width: 95%; padding: 0px 2.5%; }
	.infuseWrapper .container{ width: 95%; padding: 0px 2.5%; }
}

/* Retina iPad in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 2) {
	body, html { min-width:1024px; }
}

/* Retina iPad in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2) {
	body, html { min-width: 100%; }
	.infuseNav .innerNav{ width: 100%; }
}


html { -webkit-text-size-adjust: 100% !important; }



